
/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
  }

  /* # UTILS */

.container {
    display: flex;
    height: calc(100vh - 120px);
  }


  .d-none{
    display: none;
  }

  .d-flex{
    display: flex;
  }

  .d-block{
    display: block;
  }

  .d-inline-block{
    display: inline-block;
  }

  .d-inline{
    display: inline;
  }



  /* SIDEBAR */

  #sidebar{
    width: 50px;
    flex-shrink: 0;
    background-color: black;

    display: flex;
    flex-direction: column;

    padding: 0.5rem 0;
    gap: 1rem;
    font-size: .8rem;
    overflow-y: auto;
    color: grey;
}

#sidebar .logo,
#sidebar .links li,
#sidebar .playlist-add,
#sidebar .playlist-list,
#sidebar .user{
    padding: 0 0.5rem;
}

#sidebar .links li.active{
    border-color: lime;
}

  #sidebar > .playlist-add,
  #sidebar > .playlist-list{
    /* display: none; */
}

  #sidebar > .user{
    margin-top: auto;
}

.logo img{
    width: 90%;
}


#sidebar .links .sb-icon{
    width: 30px;
}

#sidebar .links li{
    display: inline-block;
    width: 100%;
    line-height: 40px;
    border-left: 3px solid transparent;
}

#sidebar .links li span{
    text-decoration: none;
    color: grey;
}

#sidebar .links li img,
#sidebar .links li span{
    vertical-align: middle;
}

#sidebar .playlist-add{
    cursor: pointer;
}

#sidebar .playlist-add:hover .playlist-add-button{
    background-color: white;
}


#sidebar .playlist-add .playlist-add-button{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: gray;
    border: none;
    font-size: 1.2rem;
    margin-right: .5rem;
}

#sidebar .playlist-add .playlist-add-button i{
    color: black;
}

#sidebar .playlist-list{
    overflow-y: auto;
    margin-right: 0.5rem;
    min-height: 60px;
}

#sidebar .playlist-list li:hover{
    color: white;
}



#sidebar .user-download{
    margin-bottom: .5rem;
    justify-content: center;
}

#sidebar .user-download,
#sidebar .user-profile{
    text-align: center;
}

#sidebar .user-download > img{
    width: 15px;
}

#sidebar .user-profile > img{
    width: 30px;
}

#sidebar .user-profile{
    line-height: 30px;
}

#sidebar .user-profile > .profile-pic-container,
#sidebar .user-profile > .profile-text{
    vertical-align: middle;
}

#sidebar .user-profile > .profile-pic-container{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;
    overflow: hidden;
    padding: 3px;
}

#sidebar .user-profile > .profile-pic-container > img{
    object-fit: cover;
    height: 100%;
}


/* MAIN */


.main-section{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.cta{
    background-color: #2e2e2e;
    height: 80px;
    width: 100%;
}

.main-content{
    display: flex;
    background-color: #1c1c2c;
    flex: 1 1 100%;
}

.footer{
    background-color: #2e2e2e;
    height: 120px;
    width: 100%;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.footer .container div{
    width: calc(100% / 3);
}

.song{
    display: flex;
    align-items: center;
    padding: 5px;
}

.song img{
    width: 30px;
}

.song-meta{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.song i{
    color: grey;
    width: 30px;
    text-align: center;
}

.save{
    display: flex;
    flex-direction: column;
}

.fa-heart:hover{
    color: lime;
}

.fa-folder:hover{
    color: lime;
}

.song-meta .artist{
    font-size: 15px;
    color: white;
}

.song-meta .song-name{
    font-size: 10px;
    color: grey;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progression-time,
.final-time{
    font-size: 15px;
}

.controls .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icons i{
    padding: 0px 5px;
}

.fa-shuffle:hover{
    color:lime
}

.fa-backward-step:hover{
    color:lime
}

.fa-circle-play:hover{
    color:lime
}

.fa-forward-step:hover{
    color:lime
}

.fa-rotate-right:hover{
    color:lime
}


.volume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-list:hover{
    color:lime
}

.fa-display:hover{
    color:lime
}

.fa-volume-high:hover{
    color:lime
}

.progressionbar{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.progressionline{
    height: 3px;
    background-color: grey;
    flex-grow: 1;
    border-radius: 3px;
}

.volume-line:hover .volume-progression{
    background-color: lime;
}

.progression{
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

.progressionbar:hover .progression{
    background-color: lime;
}


.progression-time,
.final-time{
    padding: 5px;
}

.volume{
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
}

.volume i{
    padding: 5px;
    color: white;
    font-size: 15px;
}

.volume-line{
    height: 3px;
    background-color: grey;
    border-radius: 3px;
}

.volume-progression{
    height: 3px;
    background-color: white;
    border-radius: 3px;
}



/* MEDIA QUERY */

@media screen and (min-width: 576px) {
    .d-sm-none{
        display: none;
      }
    
    .d-sm-flex{
        display: flex;
      }

    .d-sm-block{
        display: block;
    }
    
    .d-sm-inline-block{
        display: inline-block;
      }
    
    .d-sm-inline{
        display: inline;
      }

    #sidebar{
        width: 200px;
    }

    .save{
        flex-direction: row;
    }

    #sidebar .logo,
    #sidebar .links li,
    #sidebar .playlist-add,
    #sidebar .playlist-list,
    #sidebar .user{
        padding: 0 0.5rem;
    }

    #sidebar .user-download,
    #sidebar .user-profile{
        text-align: left;
    }

    #sidebar .user-download{
        margin-bottom: .5rem;
        border-bottom: 1px solid gray;
        padding-bottom: .5rem;
    }

    
}

@media screen and (min-width: 768px) {
    .controls .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 25px;
    }
}

