
/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
  }

  /* # UTILS */

.container {
    display: flex;
    height: calc(100vh - 120px);
  }

.d-none{
    display: none;
}



.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation span{
    display: none;
    color: white;
    font-size: 10px;
}

.navigation .grey{
    color: grey;
}


.sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50px;
    height: 100%;
    justify-content: space-between;
}

.sidebar .logo-small{
    width: 60%;
}

.sidebar .logo{
    display: none;
    width: 60%;
    padding: 10px 5px;
}

.sidebar img{
    width: 20px;
    margin: 5px;
}

.playlist{
    display: none;
    margin: 5px;
}

.pl-title{
    color: white;
    padding: 10px 0;
    font-size: 15px;
}

.add{
    font-size: 30px;
    color: white;
}


.playlist{
    height: 100px;
}

.playlist span{
    color: grey;
}

.playlist ul li{
    color: grey;
    padding: 5px 0;
    font-size: 10px;
}

.playlist ul{
    margin-top: 5px;
    min-width: 100px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile span{
    color: white;
}



.download span{
    display: none;
    color: grey;
}


.linea{
    display: none;
    color: white;
}

.myprofile img{
    background-color: grey;
    border-radius: 50%;
}

.myprofile span{
    display: none;
}


.main-section{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.cta{
    background-color: #2e2e2e;
    height: 80px;
    width: 100%;
}

.main-content{
    display: flex;
    background-color: #1c1c2c;
    flex: 1 1 100%;
}

.footer{
    background-color: #2e2e2e;
    height: 120px;
    width: 100%;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.footer .container div{
    width: calc(100% / 3);
}

.song{
    display: flex;
    align-items: center;
    padding: 5px;
}

.song img{
    width: 30px;
}

.song-meta{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.song i{
    color: grey;
    width: 30px;
    text-align: center;
}

.save{
    display: flex;
    flex-direction: column;
}

.fa-heart:hover{
    color: lime;
}

.fa-folder:hover{
    color: lime;
}

.song-meta .artist{
    font-size: 15px;
    color: white;
}

.song-meta .song-name{
    font-size: 10px;
    color: grey;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progression-time,
.final-time{
    font-size: 15px;
}

.controls .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icons i{
    padding: 0px 5px;
}

.fa-shuffle:hover{
    color:lime
}

.fa-backward-step:hover{
    color:lime
}

.fa-circle-play:hover{
    color:lime
}

.fa-forward-step:hover{
    color:lime
}

.fa-rotate-right:hover{
    color:lime
}


.volume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-list:hover{
    color:lime
}

.fa-display:hover{
    color:lime
}

.fa-volume-high:hover{
    color:lime
}

.progressionbar{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.progressionline{
    height: 3px;
    background-color: grey;
    flex-grow: 1;
    border-radius: 3px;
}

.volume-line:hover .volume-progression{
    background-color: lime;
}

.progression{
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

.progressionbar:hover .progression{
    background-color: lime;
}


.progression-time,
.final-time{
    padding: 5px;
}

.volume{
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
}

.volume i{
    padding: 5px;
    color: white;
    font-size: 15px;
}

.volume-line{
    height: 3px;
    background-color: grey;
    border-radius: 3px;
}

.volume-progression{
    height: 3px;
    background-color: white;
    border-radius: 3px;
}



/* MEDIA QUERY */

@media screen and (min-width: 576px) {
    .sidebar{
        width: 150px;
    }

    
    .sidebar .logo-small{
        display: none;
    }
    
    .sidebar .logo{
        display: block;
        width: 80%;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation span{
        display: inline-block;
        color: white;
        font-size: 10px;
    }

    .playlist{
        display: block;
    }
    
    .main-section{
        width: calc(100% - 150px);
    }

    .download span{
        display: inline-block;
    }

    .linea{
        display: block;
        color: white;
        margin: 5px;
    }
    

    .myprofile span{
        display: inline-block;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .save{
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .controls .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 25px;
    }
}

