
/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
  }

  /* # UTILS */

.container {
    display: flex;
    height: calc(100vh - 120px);
  }

.d-none{
    display: none;
}



.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation span{
    display: none;
    color: white;
    font-size: 10px;
}

.navigation .grey{
    color: grey;
}


.sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50px;
    height: 100%;
    justify-content: space-between;
}

.sidebar .logo-small{
    width: 60%;
}

.sidebar .logo{
    display: none;
    width: 60%;
    padding: 10px 5px;
}

.sidebar img{
    width: 20px;
    margin: 5px;
}

.playlist{
    display: none;
    margin: 5px;
}

.pl-title{
    color: white;
    padding: 10px 0;
    font-size: 15px;
}

.add{
    font-size: 30px;
    color: white;
}

.playlist span{
    color: grey;
}

.playlist ul li{
    color: grey;
    padding: 5px 0;
    font-size: 10px;
}

.playlist ul{
    margin-top: 5px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile span{
    color: white;
}



.download span{
    display: none;
    color: grey;
}


.linea{
    display: none;
    color: white;
}

.myprofile img{
    background-color: grey;
    border-radius: 50%;
}

.myprofile span{
    display: none;
}


.main-section{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.cta{
    background-color: #2e2e2e;
    height: 80px;
    width: 100%;
}

.main-content{
    display: flex;
    background-color: #1c1c2c;
    flex: 1 1 100%;
}

.footer{
    background-color: #2e2e2e;
    height: 120px;
    width: 100%;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.footer .container div{
    width: calc(100% / 3);
}

.song{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls .icons{
    text-align: center;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressionbar{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.progressionline{
    height: 3px;
    background-color: grey;
    flex-grow: 1;
}

.progression{
    height: 3px;
    background-color: white;
}

.progression-time,
.final-time{
    padding: 5px;
}


/* MEDIA QUERY */

@media screen and (min-width: 576px) {
    .sidebar{
        width: 150px;
    }

    
    .sidebar .logo-small{
        display: none;
    }
    
    .sidebar .logo{
        display: block;
        width: 80%;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation span{
        display: inline-block;
        color: white;
        font-size: 10px;
    }

    .playlist{
        display: block;
    }
    
    .main-section{
        width: calc(100% - 150px);
    }

    .download span{
        display: inline-block;
    }

    .linea{
        display: block;
        color: white;
        margin: 5px;
    }
    

    .myprofile span{
        display: inline-block;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

